<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://192.168.2.42/download/1/AnyShare_iOS-6.0.71-20190809-Release-6.0.7.1.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://bhpan.buaa.edu.cn/image.57×57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://bhpan.buaa.edu.cn/image.512×512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>edu.buaa.bhpan</string>
				<key>bundle-version</key>
				<string>6.0.7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>北航网盘</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
